*.dll
*.pdb
*.suo
*.lock.json
*.dll.mdb
*.user
.svn
.vs
bin
obj
packages
BundleArtifacts
AppPackages
*.designer.cs
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded
*.targets
*.csproj.bak
*.targets
*.props
file_paths.xml
Trezor.Net.deps.json
*.nupkg
.idea

